.tooltip [class$="inner"] {
    background-color: background-color;
    border: 1px solid background-color;
  }
  
  .tooltip [class$="arrow"] {
    border-top: 5px solid background-color !important;
  }